[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "==3.14.0"
django-filter = "*"
django-cors-headers = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.7"
